<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form th:action="@{/cliente/insertar}" th:object="${cliente}" th:method="POST">
		<table>
			<tr>
				<td><label>Céducla:</label></td>
				<td><input type="text" id="cedula" th:field="${cliente.cedula}"></td>
			</tr>
			<tr>
				<td><label>Nombre:</label></td>
				<td><input type="text" id="nombre" th:field="${cliente.nombre}"></td>
			</tr>
			<tr>
				<td><label>Apellido:</label></td>
				<td><input type="text" id="apellido" th:field="${cliente.apellido}"></td>
			</tr>
			<tr>
				<td><label>Fecha de Nacimiento:</label></td>
				<td><input type="datetime-local" id="fecha" th:field="${cliente.fechaNacimiento}"></td>
			</tr>
			<tr>
				<td><label>Género:</label></td>
				<td><input type="text" id="genero" th:field="${cliente.genero}}"></td>
			</tr>
		
			<tr>
				<td><label>Usuario:</label></td>
				<td><input type="text" id="usuario" th:field="${cliente.usuario}"></td>
			</tr>
			<tr>
				<td><label>Contraseña:</label></td>
				<td><input type="text" id="contrasenia" th:field="${cliente.contrasenia}"></td>
			</tr>
			<tr>
				<td><label>Tipo:</label></td>
				<td><input type="text" id="tipo" th:field="${cliente.tipo}"></td>
			</tr>
		</table>
		<input type="submit" value="Guardar">
	</form>
</body>

</html>