<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form th:action="@{/vehiculos/insertar}" th:object="${vehiculo}" th:method="POST">
		<table>
			<tr>
				<td><label>Placa:</label></td>
				<td><input type="text" id="placa" th:field="${vehiculo.placa}"></td>
			</tr>
			<tr>
				<td><label>Modelo:</label></td>
				<td><input type="text" id="modelo" th:field="${vehiculo.modelo}"></td>
			</tr>
			<tr>
				<td><label>Marca:</label></td>
				<td><input type="text" id="marca" th:field="${vehiculo.marca}"></td>
			</tr>
			<tr>
				<td><label>Año:</label></td>
				<td><input type="text" id="anio" th:field="${vehiculo.anio}"></td>
			</tr>
			<tr>
				<td><label>País:</label></td>
				<td><input type="text" id="pais" th:field="${vehiculo.pais}"></td>
			</tr>
			<tr>
				<td><label>Cilindraje:</label></td>
				<td><input type="text" id="cilin" th:field="${vehiculo.cilindraje}"></td>
			</tr>
			<tr>
				<td><label>Avalúo:</label></td>
				<td><input type="text" id="aval" th:field="${vehiculo.avaluo}"></td>
			</tr>
			<tr>
				<td><label>Precio por día:</label></td>
				<td><input type="text" id="pDia" th:field="${vehiculo.valorDia}"></td>
			</tr>
			<tr>
				<td><label>Estado:</label></td>
				<td><input type="text" id="estado" th:field="${vehiculo.estado}"></td>
			</tr>
		</table>
		<input type="submit" value="Guardar">
	</form>
</body>

</html>